<div class="jumbotron mt-4">
  <h1 class="display-4">HOTELES</h1>
  <p class="lead">Sencilla aplicación para visualizar y modificar hoteles</p>
  <a class="btn btn-primary btn-lg" href="/users/signin" role="button">Entrar!</a>
</div>
