<div class="row">
  {{#each users}}
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title d-flex justify-content-between align-items-center">
          Nombre: {{ nombre }} 
        </h4>
        <p>Email: {{ email }}</p>
        <p>Edad: {{ edad }}</p>
        <p>Verificado: {{ verificado }}</p>

      </div>
    </div>
  </div>
  {{/each}}
</div>
